<router-outlet></router-outlet>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-0 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">TWICE</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Revisa la informacion detallada
                de cada miembro</p>
        </div>
        <div class="w-full mb-6 lg:mb-16 md:grid-cols-2">

            <div
                class="flex flex-col items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 p-5">

                <div class="p-5">
                    <div class="flex flex-row-reverse items-center justify-between">
                        <!-- Imagen a la derecha -->
                        <div class="flex justify-center">
                            <img class="w-48 h-48 sm:w-56 sm:h-56 md:w-72 md:h-72 rounded-lg object-cover"
                                src="/assets/imgs/Tzuyu28.png" alt="Bonnie Avatar">
                        </div>
                        <!-- Contenido a la izquierda -->
                        <div>
                            <h1 class="mb-6 text-4xl font-bold tracking-tight text-gray-900 dark:text-white">
                                Tzuyu
                            </h1>
                            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                                <li><span class="font-semibold text-gray-900 dark:text-white">Nombre:</span> 쯔위 / Tzuyu
                                </li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Nombre completo:</span>
                                    周子瑜 / Chou Tzu Yu (Zhōu Zi Yú)</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Nombre japonés:</span>
                                    ツウィ/ Tsuu~i</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Nombre inglés:</span>
                                    Sally Chou</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Apodos: </span>Chewy, Yoda
                                </li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Profesión:
                                    </span>C​antante, Modelo, MC y Bailarina</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Fecha de nacimiento:
                                    </span>14-Junio-1999 (25 Años)</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Lugar de
                                        nacimiento:</span> Tainan, Taiwán.</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Estatura:</span> 172 cm
                                </li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Peso:</span> 49.5 kg</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Tipo de sangre:</span> A
                                </li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Signo zodiacal:
                                    </span>Géminis</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Signo zodiacal
                                        chino: </span>Conejo</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Familia:</span> Padres y
                                    hermano mayor</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Agencia:</span>JYP
                                    Entertainment</li>
                            </ul>
                        </div>
                    </div>

                    <h2 class="mb-2 mt-6 text-xl font-bold text-gray-900 dark:text-white">Biografia</h2>
                    <p class="text-gray-500 list-disc list-inside dark:text-gray-400">
                        La familia de Tzuyu está compuesta por sus padres, una pareja que trabaja como emprendedores y
                        su hermano mayor.
                        <br>
                        <br>
                        En 2012, fue vista por cazatalentos en el Taller de Artes Escénicas MUSE en Tainan y viajó a
                        Corea del Sur en noviembre de ese año para convertirse en aprendiz de K-pop. Después de más de
                        dos años de entrenamiento, apareció en el show de supervivencia surcoreano Sixteen en 2015, en
                        el cual fue elegida como una de las nueve integrantes del nuevo grupo de chicas Twice. El grupo
                        hizo su debut en octubre de 2015.
                        <br>
                        <br>
                        Estudió en Hanlim Multi Art School en Seúl como estudiante de primer año, junto con sus
                        compañeras de grupo Dahyun y Chaeyoung. Ella estaba en clases vecinas a Chaeyoung en su primer
                        año, luego en la misma clase en el segundo año. Tzuyu se graduó junto a Chaeyoung el 11 de
                        febrero de 2019.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Miembros</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Explora a las demás miembros de Twice.</p>
        </div>
        <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg"
                    src="/assets/imgs/Im_Na_Yeon45.png" alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/nayeon">Nayeon</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/nayeonyny/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Momo38.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/momo">Momo</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/momo/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg"
                    src="/assets/imgs/Yoo_Jeong_Yeon20.png" alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/jeong">Jeong Yeon</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/jy_piece/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Mina27.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/mina">Mina</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/mina_sr_my/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Ji_Hyo6.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/jihyo">Jihyo</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/_zyozyo/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Sana32.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/sana">Sana</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/m.by__sana/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg"
                    src="/assets/imgs/Kim_Da_Hyun_2927.png" alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/dahyun">Dahyun</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/dahhyunnee/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg"
                    src="/assets/imgs/Son_Chae_Young28.png" alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/chae">ChaeYoung</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/chaeyo.0/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>