<router-outlet></router-outlet>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-0 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">TWICE</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Revisa la informacion detallada
                de cada miembro</p>
        </div>
        <div class="w-full mb-6 lg:mb-16 md:grid-cols-2">
            <div
                class="flex flex-col items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 p-5">
                <div class="p-5">
                    <div class="flex flex-row-reverse items-center justify-between">
                        <!-- Imagen a la derecha -->
                        <div class="flex justify-center">
                            <img class="image-container w-48 h-48 sm:w-56 sm:h-56 md:w-72 md:h-72 rounded-lg object-cover"
                                src="/assets/imgs/Im_Na_Yeon45.png" alt="Bonnie Avatar">
                        </div>
                        <!-- Contenido a la izquierda -->
                        <div>
                            <h1 class="mb-6 text-4xl font-bold tracking-tight text-gray-900 dark:text-white">
                                Na Yeon
                            </h1>
                            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                                <li><span class="font-semibold text-gray-900 dark:text-white">Nombre:</span> 나연 / Na
                                    Yeon</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Nombre completo:</span>
                                    임나연 / Im Na Yeon</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Nombre en japonés:</span>
                                    ナヨン / Nayon</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Nombre en inglés:</span>
                                    Christine Im</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Apodos:</span> Princess
                                    Nayeon, Bunny Smile, Rabbit Nayeon, Nabong, Pretty girl y Little Eugene</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Profesión:</span>
                                    Cantante, Compositora, Bailarina, Modelo, Actriz y MC</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Fecha de
                                        nacimiento:</span> 22-Septiembre-1995 (29 Años)</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Lugar de
                                        nacimiento:</span> Gangdong-gu, Seúl, Corea del Sur.</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Estatura:</span> 164cm
                                </li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Peso:</span> 48kg</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Tipo de sangre:</span> A
                                </li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Signo zodiacal:</span>
                                    Virgo</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Signo zodiacal
                                        chino:</span> Cerdo</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Familia:</span> Padres,
                                    hermana menor y primo Ji Yun Seo</li>
                                <li><span class="font-semibold text-gray-900 dark:text-white">Agencia:</span> JYP
                                    Entertainment</li>
                            </ul>
                        </div>
                    </div>

                    <h2 class="mb-2 mt-6 text-xl font-bold text-gray-900 dark:text-white">Biografia</h2>
                    <p class="text-gray-500 list-disc list-inside dark:text-gray-400">
                        2022: Debut como Solista con su Primer Mini-Álbum 'IM NAYEON'
                        El 19 de mayo a las 12PM KST, JYP anunció que Nayeon realizaría su debut en solitario con el
                        lanzamiento de su primer mini-álbum "IM NAYEON" el 24 de junio a las 1PM KST/12AM EST. Los
                        pedidos anticipados comienzaron el 24 de mayo a las 1PM KST.
                        <br>
                        <br>
                        El 24 de mayo, se reveló la portada digital del álbum. El 31 de mayo, fue liberada la lista de
                        canciones que lo compondrían, siendo un total siete canciones entre ellas: "POP!", el sencillo
                        principal, y dos canciones en colaboración con Felix de Stray Kids, "No Problem", y Wonstein,
                        "Love Countdown". Nayeon fue acreditada como letrista en las canciones “Love Countdown” y “All
                        or Nothing”.
                        <br>
                        <br>
                        La pista principal, “POP!”, es una canción pop que entrega una poderosa energía con varios
                        sonidos de instrumentos y destaca la voz de Nayeon y su brillo refrescante. La letra transmite
                        el significado de hacer estallar el corazón en crecimiento de la otra persona que se ha inflado
                        como una burbuja.
                        <br>
                        <br>
                        El 23 de junio, JYP anunció oficialmente que el mini-álbum superó los 500.000 pedidos
                        anticipados en stock, marcando la mayor cantidad de pedidos anticipados en stock logrados por
                        cualquier solista femenina de ese año (2022).
                        <br>
                        <br>
                        El 1 de julio, Gaon Chart reveló su ranking de listas para la semana del 19 al 25 de junio.
                        Nayeon encabezó la lista de álbumes físicos de la semana con su mini-álbum debut, 'IM NAYEON',
                        que entró en la lista en el número 1.
                        <br>
                        <br>
                        El 3 de julio, Billboard anunció que el álbum debutó en el puesto número 7 en la lista Top 200
                        Albums, su clasificación semanal de los álbumes más populares en los Estados Unidos.
                        Convirtiéndola en la primera solista de K-pop en ingresar al top 10 de Billboard 200. Además,
                        'IM NAYEON', fue el álbum más vendido de la semana en los Estados Unidos, debutando en el número
                        1 en la lista de ventas de álbumes principales de Billboard con fecha del 9 de julio.
                        <br>
                        <br>
                        Según Luminate (anteriormente MRC Data), 'IM NAYEON' obtuvo un total de 57.000 unidades de
                        álbumes equivalentes durante la semana que finalizó el 30 de junio, se traduce en 6,56 millones
                        de transmisiones de audio bajo demanda en el transcurso de la semana.
                        <br>
                        <br>
                        El 5 de julio, Hanteo Chart anunció que el álbum vendió un total de 252.903 copias en la primera
                        semana de su lanzamiento (del 24 al 30 de junio), convirtiendo a Nayeon en la cuarta solista
                        femenina en superar las 200.000 ventas en la primera semana del lanzamiento de un álbum. 'IM
                        NAYEON' también logró las cuartas ventas más altas en la primera semana de cualquier álbum de
                        una solista femenina en la historia de Hanteo, superado solo por “LALISA” de Lisa de BLACKPINK,
                        “R” de Rosé de BLACKPINK y 'LILAC' de IU.
                        <br>
                        <br>
                        El 6 de julio, Billboard reveló que 'IM NAYEON' ocupó el puesto número 1 en la lista Top Current
                        Album Sales y en la lista World Albums (donde Nayeon se convirtió en la primera artista femenina
                        en debutar en el No. 1 este año). Además, Nayeon debutó en el No. 5 en la lista Artist 100 de
                        Billboard, convirtiéndola en la primera solista femenina del K-pop en la historia en ingresar al
                        Top 50 de la lista. También es la segunda solista del K-pop en ingresar al top 5 seguida de Suga
                        de BTS (Agust D), quien alcanzó el número 4 en la lista en el 2020.
                        <br>
                        <br>
                        Nayeon también entró en la lista World Digital Song Sales de esta semana con más de una canción:
                        “POP!” debutó en el No. 7, “No Problem” con Felix de Stray Kids, ocupó el No. 10. Mientras
                        tanto, 'IM NAYEON' entró a la lista Tastemaker Albums de Billboard en el lugar No. 7.
                        Finalmente, “POP!” debutó en el No. 15 en la lista de Global Excl. U.S. de Billboard y en el No.
                        30 en Global 200 de la semana.
                        <br>
                        <br>
                        2024: Anuncio y regreso con el segundo mini-álbum de Nayeon
                        El 12 de mayo es anunciado el regreso de Nayeon con su segundo mini-álbum, el cual lleva por
                        nomber "NA".
                        <br>
                        <br>
                        El 15 de mayo es revelado las canciones que formarán parte de este álbum. En este mini álbum,
                        Sam Kim participará para la canción "Heaven", Julie de KISS OF LIFE participará en la canción
                        "Magic", y la canción "HalliGalli" está producida por Lee Chan Hyuk de AKMU. La canción
                        principal llevaría por nombre "ABCD".
                        <br>
                        <br>
                        El 9 de junio fue revelado el primer video teaser de su canción principal "ABCD" y el 11 de
                        junio el segundo video teaser.
                        <br>
                        <br>
                        El mini-álbum es lanzado oficialmente el 13 de junio junto con el video oficial de "ABCD".
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Miembros</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Explora a las demás miembros de Twice.</p>
        </div>
        <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Momo38.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/momo">Momo</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/momo/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg"
                    src="/assets/imgs/Yoo_Jeong_Yeon20.png" alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/jeong">Jeong Yeon</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/jy_piece/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Mina27.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/mina">Mina</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/mina_sr_my/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Ji_Hyo6.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/jihyo">Jihyo</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/_zyozyo/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Sana32.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/sana">Sana</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/m.by__sana/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg"
                    src="/assets/imgs/Kim_Da_Hyun_2927.png" alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/dahyun">Dahyun</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/dahhyunnee/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg"
                    src="/assets/imgs/Son_Chae_Young28.png" alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/chae">ChaeYoung</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/chaeyo.0/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto w-24 h-24 sm:w-32 sm:h-32 md:w-28 md:h-40 rounded-lg" src="/assets/imgs/Tzuyu28.png"
                    alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a routerLink="/tzuyu">Tzuyu</a>
                </h3>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.instagram.com/thinkaboutzu/?hl=es-la"
                            class="text-[#39569c] hover:text-gray-900 dark:hover:text-white" target="_blank" >
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>