<router-outlet></router-outlet>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Un poco de TWICE</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Twice es un grupo de Kpop, formado en el año 2015 por la compañia JYP. Atraves de los años a conseguido una inmesa popularidad, sacando decenas de albumes y llenando multiples estadios por distintos lugares del mundo.</p>
        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="https://www.jype.com/" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900" target="_blank" >
                Pagina JYP
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="https://www.youtube.com/@TWICE" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg" target="_blank" >
                <svg class="mr-2 -ml-1 w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z" clip-rule="evenodd"/>
                </svg>
                Canal Twice
            </a>
        </div>
        <h3 class="flex justify-center items-center text-xl font-bold tracking-tight text-gray-900 dark:text-white mb-2">
          Último Comeback
      </h3>
        <div class="flex justify-center items-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Sz_wWzgh-vQ?si=X-IaSZ2AtL7DxA_k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
  </section>
  
  <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
          <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Miembros de Twice</h2>
              <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">El grupo se conforma por 9 miembros, de las cuales 4 son extranjeras y 5 coreanas.</p>
          </div> 
          <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                    <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover ml-2" 
                         src="/assets/imgs/Im_Na_Yeon45.png" 
                         alt="Bonnie Avatar">
                </div>
                <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                        Na Yeon
                    </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Im Na Yeon
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> Cantante, Compositora, Bailarina, Modelo, Actriz y MC.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 22 Septiembre 1995 (29 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.64 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 48 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/nayeon" type="button" 
                                class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                Ver más
                            </button>
                        </div>
                        
                      </ul>
                  </div>
              </div> 
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                      <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover ml-2" 
                      src="/assets/imgs/Momo38.png"
                           alt="Bonnie Avatar">
                  </div>
                  <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                          Momo
                      </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Hirai Momo
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> Cantante, Compositora, Modelo, Bailarina y MC.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 09 Noviembre 1996 (28 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.62 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 44 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/momo" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver más</button>
                          </div>
                      </ul>
                  </div>
              </div> 
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                      <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover ml-2" 
                      src="/assets/imgs/Yoo_Jeong_Yeon20.png"
                           alt="Bonnie Avatar">
                  </div>
                  <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                          Jeong Yeon
                      </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Yoo Jeong Yeon
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> Cantante, Compositora, Bailarina y MC.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 01 Noviembre 1996 (28 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.69 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 60 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/jeong" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver más</button>
                          </div>
                      </ul>
                  </div>
              </div> 
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                      <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover" 
                      src="/assets/imgs/Sana32.png"
                           alt="Bonnie Avatar">
                  </div>
                  <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                          Sana
                      </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Minatozaki Sana
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> Cantante, Compositora, Modelo, Bailarina y MC.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 29 Diciembre 1996 (28 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.66 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 48 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/sana" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver más</button>
                          </div>
                      </ul>
                  </div>
              </div>  
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                      <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover ml-2" 
                      src="/assets/imgs/Ji_Hyo6.png"
                           alt="Bonnie Avatar">
                  </div>
                  <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                          Ji Hyo
                      </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Park Ji Hyo
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> Cantante, Compositora, Bailarina y MC.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 01 Febrero 1997 (28 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.62 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 53 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/jihyo" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver más</button>
                          </div>
                      </ul>
                  </div>
              </div>  
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                      <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover ml-2" 
                      src="/assets/imgs/Mina27.png"
                           alt="Bonnie Avatar">
                  </div>
                  <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                          Mina
                      </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Myoui Mina
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> Cantante, Compositora, Modelo y Bailarina.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 24 Marzo 1997 (27 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.63 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 46 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/mina" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver más</button>
                          </div>
                      </ul>
                  </div>
              </div>  
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                      <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover ml-2" 
                      src="/assets/imgs/Kim_Da_Hyun_2927.png"
                           alt="Bonnie Avatar">
                  </div>
                  <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                          Da Hyun
                      </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Kim Da Hyun
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> Rapera, Cantante, Bailarina, Compositora, Actriz, Modelo y MC.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 28 Mayo 1998 (26 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.60 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 47 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/dahyun" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver más</button>
                          </div>
                      </ul>
                  </div>
              </div>  
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                      <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover ml-2" 
                      src="/assets/imgs/Son_Chae_Young28.png"
                           alt="Bonnie Avatar">
                  </div>
                  <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                          Chae Young
                      </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Son Chae Young
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> Cantante, Compositora, Rapera, Bailarina, MC.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 23 Abril 1999 (25 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.59 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 48 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/chae" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver más</button>
                          </div>
                      </ul>
                  </div>
              </div>  
              <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-center items-center">
                      <img class="w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-lg object-cover ml-2" 
                      src="/assets/imgs/Tzuyu28.png"
                           alt="Bonnie Avatar">
                  </div>
                  <div class="p-5">
                    <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white text-center mb-3">
                          Tzuyu
                      </h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Nombre Completo: </span> Chou Tzu Yu
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Profesión: </span> C​antante, Modelo, MC y Bailarina.
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Fecha de Nacimiento: </span> 14 Junio 1999 (25 Años)
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Estatura: </span> 1.72 cm
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Peso: </span> 49.5 kg
                          </li>
                          <li>
                              <span class="font-semibold text-gray-900 dark:text-white">Agencia: </span> JYP Entertainment
                          </li>
                          <div class="pt-6 mx-auto max-w-screen-xl text-center">
                            <button routerLink="/tzuyu" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver más</button>
                          </div>
                      </ul>
                  </div>
              </div>  
          </div>  
      </div>
    </section>
